
/***********************

    PAGES

************************/

/*--------------
    Components
---------------*/

@media only screen and (max-width: 789px) {

    #components > .block > .grid{
        text-align: center !important;
       
    }
    
}

#components > .block > .grid{
    text-align: left;
}

#components .column > .ui.button, 
#components .column > .ui.buttons {
    margin: 10px 10px 10px 0;
}

#components .ui.divider:not(.vertical):not(.horizontal) {
    margin: 1.5rem 0;
    border-top: 1px solid #dedede;
}

/*--------------
    Grid
---------------*/

div[data-page="grid"] .grid{
    position: relative;
}

div[data-page="grid"] .container > .block > .grid:not(.notafter) .column:not(.row):not(.grid):not(.notafter):after {
    background-color: #ffc266;
    box-shadow: 0px 0px 0px 1px rgba(86, 61, 124, 0.2) inset;
    content: "";
    display: block;
    min-height: 50px;
}

div[data-page="grid"] .container .block:not(#special-variations) .grid:before {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: #F0F0F0;
    content: '';
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    /* box-shadow: 0px 0px 0px 1px #DDDDDD inset; */
}



/*--------------
    Font
---------------*/

div[data-page="typo"] #poppins .column,
div[data-page="typo"] #heading .column{
    padding: 0 !important;
}

div[data-page="typo"] .fontitem {
    margin-bottom: 20px;
    line-height: 1.5;
}


div[data-page="typo"] .identifier {
    font-size: 11px;
    color: #777;
    display: block;
}

div[data-page="typo"] .Poppins-normal-300 {
    font-style: normal;
    font-weight: 300;
}

div[data-page="typo"] .Poppins-normal-400 {
    font-style: normal;
    font-weight: 400;
}

div[data-page="typo"] .Poppins-normal-500 {
    font-style: normal;
    font-weight: 500;
}

div[data-page="typo"] .Poppins-normal-600 {
    font-style: normal;
    font-weight: 600;
}

div[data-page="typo"] .Poppins-normal-700 {
    font-style: normal;
    font-weight: 700;
}

div[data-page="typo"] .headingOne{
    font-size: 42px;
    font-weight: 700;
}

div[data-page="typo"] .headingOneVariation{
    font-size: 42px;
    font-weight: 300;
}

div[data-page="typo"] .headingTwo{
    font-size: 38px;
    font-weight: 700;
}

div[data-page="typo"] .headingTwoVariation{
    font-size: 38px;
    font-weight: 300;
}

div[data-page="typo"] .headingThree{
    font-size: 32px;
    font-weight: 700;
}

div[data-page="typo"] .headingFour{
    font-size: 28px;
    font-weight: 700;
}

div[data-page="typo"] .headingFive{
    font-size: 22px;
    font-weight: 600;
}
div[data-page="typo"] .headingSix{
    font-size: 15px;
    font-weight: 600;
}
div[data-page="typo"] .headingSixUppercase{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*--------------
    Icon
---------------*/

div[data-page="icon"] .block:first-child > .title{
    margin-top: -30px;
}

div[data-page="icon"] .iconList {
    width: 100% !important;
}

div[data-page="icon"] .iconList i.icon {
    display: block;
    margin: 0;
    text-align: center;
    width: auto;
    margin-bottom: 10px;
    font-size: 1.4em;
}

div[data-page="icon"] .iconList span {
    font-size: 12px;
    line-height: 11px;
    text-transform: lowercase;
}

/*--------------
    Layout
---------------*/

div[data-page="layout"]{
    
}

/*--------------
    Color
---------------*/

div[data-page="color"] .colorItem > .colorName{
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

div[data-page="color"] .colorItem > .colorBox {
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
}

div[data-page="color"] .colorItem > .colorCode {
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
}


.colorP { background-color: #008bd9; }
.colorPH { background-color: #009bf2; }
.colorPA { background-color: #007bbf; }

.colorI { background-color: #2BADD4; }
.colorIH { background-color: #40b5d8; }
.colorIA { background-color: #279cbf; }

.colorS { background-color: #19b37b; }
.colorSH { background-color: #1cc98a; }
.colorSA { background-color: #169d6c; }

.colorW { background-color:#E5791A; }
.colorWH { background-color:#E88631; }
.colorWA { background-color:#CE6D17; }

.colorE { background-color:#E64333; }
.colorEH { background-color:#E95849; }
.colorEA { background-color:#E32E1C; }

.colorPE { background-color:#E6DB19; }
.colorPEH { background-color:#EBE247; }
.colorPEA { background-color:#CFC517; }

.colorMW { background-color:#E8E8E8; }
.colorLG { background-color:#EEE; }
.colorG { background-color:#767676; }
.colorMG { background-color:#CCC; }
.colorLB { background-color:#555; }
.colorB { background-color:#414141; }


/*--------------
    Intro
---------------*/
#banner-top{
    position: relative;
    margin-top: 30px;
}


#banner-top > .text{
    
    text-align: left;
    position: relative;
    left: 380px;
    width: 340px;

}

#banner-top > .text > .big{
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0.2px;
    /*text-shadow: 0px 6px 9px rgba(0,0,0,0.16);*/
    font-weight: 600;
    margin-bottom: 15px;
}

#banner-top > .text > .small{
    font-size: 15px;
    margin-bottom: 20px;
}

.frameTop {
    background: #dbdfe4;
    width: 240px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
}

.frameBot{
    background: #f2f2f2;
    width: 260px;
    height: 310px;
    position: absolute;
    top: 20px;
    left: 60px;
    z-index: 0;
}



/***********************

    STRUCTURE

************************/
body{
    transition: all 500ms ease;
}

img {
    display: block;
    max-width: 98.8%;
}

code {
    background-color: #E0E0E0;
    padding: 0.25em 0.3em;
}

pre, .hljs {
    background: none !important;
    border: 0;
    border-radius: 0;
    padding: 0 !important;
    margin: 0;
    line-height: 1.7;
}

/* Data */
*[data-page]{
    
}

*[data-align="center"]{
    text-align: center;
}

*[data-align="left"]{
    text-align: left;
}

*[data-width="small"]{
    max-width:500px;
}

*[data-width="medium"]{
    max-width:800px;
}

*[data-width="large"]{
    max-width:980px;
}

*[data-width="huge"]{
    max-width:1200px;
}

*[data-width="full"]{
    width:100% !important;
}


body > .ui.fluid.container{
    z-index: 1;
}

@media only screen and (max-width: 789px) {

    *[data-width]{
        /*max-width: 100% !important;*/
    }
    
}
/*--------------
    Header
---------------*/

#header > .navbar{
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 99;
    background: #fff;
}  
    /* Logo */
    #header > .navbar > .logo{
        float: left;
        position: absolute;
        width: 100%;
        cursor: default;
        text-align: center;
        letter-spacing: 1px;
        text-decoration: none;  
    }
        #header > .navbar > .logo > img {
            width: 40px;
            margin:-10px;
            display:inline-block;
        }
    
    /* Content */
    #header > .navbar > .navbar-content{
        width: 100%;
    }
        /* Menu */
        #header > .navbar > .navbar-content > .menu{
            
        }   

            /* Menu Item */
            #header > .navbar > .navbar-content > .menu > .item {
                position: relative;
                float: left;
                margin-bottom: 0;
            }
            #header > .navbar > .navbar-content > .menu > .item  {
                -webkit-transition: all 500ms ease;
                
                text-decoration:none;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 1px;
                margin-right: 25px;
                text-decoration: none;
            }
                #header > .navbar > .navbar-content > .menu > .item > a{
                    color: rgba(0,0,0,.75);
                }
                #header > .navbar > .navbar-content > .menu > .item > a:hover{
                    color: rgba(0,0,0,1);
                    border-bottom: 1px solid #000;
                }
                #header > .navbar > .navbar-content > .menu > .item  > a.active,
                #header > .navbar > .navbar-content > .menu > .item  > a.active:hover{
                    color: #2C83C5;
                    text-decoration: none !important;
                    border-bottom:none;
                    cursor: default;
                }
        
        /* Right Menu */
        #header > .navbar > .navbar-content > .rightMenu  {
            padding-right: 60px;
            float: right;
            list-style: none;
            margin: 0 auto;
        }

        /* Left Menu */
        #header > .navbar > .navbar-content > .leftMenu {
            padding-left: 60px;
            float: left;
            list-style: none;
            margin: 0 auto;
        }
        
        /* Mobile Menu */
        #header > .navbar > .navbar-content > .mobileMenu  {
            display: none;
        }
        #header > .navbar > .navbar-content > .mobileMenu > .icon{
            font-size: 20px;
        }


#header > .page-info{
    width: 100%;
}

    #header > .page-info > img{
        opacity: 0.8;
    }

    #header > .page-info > .header {
        margin-left: auto!important;
        margin-right: auto!important;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 15px;
        margin-bottom: 25px;
        font-weight: 700;
        text-align: center;

    }
        #header > .page-info > .header > a{
            color: rgba(0,0,0,.75);
        }
        #header > .page-info > .header > a:hover{
            color: rgba(0,0,0,1);
            border-bottom: 1px solid #000;
        }
        #header > .page-info > .header > a.active,
        #header > .page-info > .header > a.active:hover{
            color: #2C83C5;
            text-decoration: none !important;
            border-bottom: none;
            cursor: default;
        }
        #header > .page-info > .header > a {
            margin-right: 1rem;
        }

@media only screen and (max-width: 979px) {
    .leftMenu,
    .rightMenu{
        display: none;
    }
    
    .navbar > .logo{
        text-align: left !important;
        left: 50px;
    }
    
    .navbar > .navbar-content > .mobileMenu {
        display: block !important;
        position: absolute;
        right: 30px;
        top: 34px;
    }
}
            

/*--------------
    Body
---------------*/
#body {
    margin: 0 auto;
    padding-top:0 !important;
}
#body > .container{
    
}
#body > .container > .section{
    font-size:26px !important;
    margin: 20px 0 10px;
    color: rgb(102, 179, 19);
    font-weight: 600;
}

#body > .container > .section:first-child{
    margin-top: 0;
}

/* Block */
#body > .container > .block,
#body > .container > .block > .grid{
    margin-left: auto;
    margin-right: auto;
}

#body > .container > .block > .grid{
    
}

#body > .container > .block{
    margin-bottom: 60px;
    padding-top: 30px;
}

#body > .container > .block > .title{
    font-size: 20px !important;
    margin-bottom: 30px;
    font-weight: 600;
    width:100%;
}

#body > .container > .section.trigger .button,
#body > .container > .block > .title .button{
    width: 29px;
    height: 29px;
    padding: 6px 5px;
    margin-top: 0px;
    vertical-align: middle;
    margin-left: 10px;
}

#body > .container > .block > p{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width:500px;
    padding-bottom: 20px;
}


/* Sub Block */
#body > .container > .block > .sub-block{
    font-size:16px !important;
    margin: 20px 0;
    font-weight: 500;
}

.ui.modal .content h4{
    font-size: 18px;
    font-weight: 600;
}    

.ui.modal .content h5{
    font-size: 13.5px;
    font-weight: 700;
    text-transform: uppercase;
}  

@media only screen and (min-width: 992px) {
    #body > .container:not(#components) > .block > .grid{
        width: 800px;
    }

}
/*--------------
    Footer
---------------*/

#footer{
    display: block;
    margin-top: 5em;
    height: 70px;  
}




/*--------------
    Loading
---------------*/

.hexagon-loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}

#hexCont {
	position: fixed;
	width: 0;
	height: 0;
	top: 40%;
	left: 50%;
}

.triangle {		
	-webkit-animation-name: animate;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-name: animate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	border-color: #000 transparent transparent transparent;
	border-style: solid;
	border-width: 17.3px 10px 0 10px;
	height: 0;
	left: 170px;
	opacity: 0;
	position: absolute;
	top: -52px;
	width: 0;
	z-index: 3;
}
/*specifies triangles rotated 180*/
.flipped {transform: rotate(180deg);}

.triangle1 {
	-webkit-animation-delay: .07s;
	animation-delay: .07s;
	left: -10px;
	top: -17px;
}

.triangle2 {	
	-webkit-animation-delay: .2266s;
	animation-delay: .2266s;
	left: 0px;
	top: -17px;
}

.triangle3 {
	-webkit-animation-delay: .4034s;
	animation-delay: .4034s;
	left: 0px;
	top: 0px;
}
.triangle4 {
	-webkit-animation-delay: .57s;
	animation-delay: .57s;
	left: -10px;
	top: 0px;
}
.triangle5 {
	-webkit-animation-delay: .7468s;
	animation-delay: .7468s;
	left: -20px;
	top: -0px;
}

.triangle6 {
	-webkit-animation-delay: .9035s;
	animation-delay: .9035s;
	left: -20px;
	top: -17px;
}

@-webkit-keyframes animate {
		from {opacity: 1;}
		to {opacity: 0;}
}

@keyframes animate {
		from {opacity: 1;}
		to {opacity: 0;}
}







#init-code .col:first-child {
    border-left: 1px solid rgba(0,0,0,.1);
}
#init-code .col {
    background: #FFF;
    width: 33.333333%;
    padding: 0 32px;
    color: #000;
    border-right: 1px solid rgba(0,0,0,.1);
    height: 182px;
}
.fadeleft.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
.fadeleft {
    opacity: 0;
    -webkit-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    transform: translateX(-60px);
}
.n, .pin {
    -webkit-transition: all .5s cubic-bezier(.175,.885,.32,1.275) 0s;
    -moz-transition: all .5s cubic-bezier(.175,.885,.32,1.275) 0s;
    -ms-transition: all .5s cubic-bezier(.175,.885,.32,1.275) 0s;
    transition: all .5s cubic-bezier(.175,.885,.32,1.275) 0s;
}
.col, header h1 {
    float: left;
}




