/***********************

    STRUCTURE

************************/
body{
    transition: all 500ms ease;
}

img {
    display: block;
    max-width: 100%;
}

code {
    background-color: #E0E0E0;
    padding: 0.25em 0.3em;
}

/* Data */
*[data-page]{
    
}

*[data-align="center"]{
    text-align: center;
}

*[data-align="left"]{
    text-align: left;
}

*[data-width="large"]{
    max-width:700px;
}

*[data-width="medium"]{
    max-width:500px;
}

body > .ui.fluid.container{
    z-index: 1;
}

/*--------------
    Header
---------------*/

#header > .navbar{
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 99;
    background: #fff;
}  
    /* Logo */
    #header > .navbar > .logo{
        float: left;
        position: absolute;
        width: 100%;
        cursor: default;
        text-align: center;
        letter-spacing: 1px;
        text-decoration: none;  
    }
        #header > .navbar > .logo > img {
            width: 40px;
            margin:-10px;
            display:inline-block;
        }
    
    /* Content */
    #header > .navbar > .navbar-content{
        width: 100%;
    }
        /* Menu */
        #header > .navbar > .navbar-content > .menu{
            
        }   

            /* Menu Item */
            #header > .navbar > .navbar-content > .menu > .item {
                position: relative;
                float: left;
                margin-bottom: 0;
            }
            #header > .navbar > .navbar-content > .menu > .item  {
                -webkit-transition: all 500ms ease;
                
                text-decoration:none;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 1px;
                margin-right: 25px;
                text-decoration: none;
            }
                #header > .navbar > .navbar-content > .menu > .item > a{
                    color: rgba(0,0,0,.75);
                }
                #header > .navbar > .navbar-content > .menu > .item > a:hover{
                    color: rgba(0,0,0,1);
                    border-bottom: 1px solid #000;
                }
                #header > .navbar > .navbar-content > .menu > .item  > a.active,
                #header > .navbar > .navbar-content > .menu > .item  > a.active:hover{
                    color: rgba(0,0,0,.3);
                    text-decoration: none !important;
                    border-bottom:none;
                    cursor: default;
                }
        
        /* Right Menu */
        #header > .navbar > .navbar-content > .rightMenu  {
            padding-right: 60px;
            float: right;
            list-style: none;
            margin: 0 auto;
        }

        /* Left Menu */
        #header > .navbar > .navbar-content > .leftMenu {
            padding-left: 60px;
            float: left;
            list-style: none;
            margin: 0 auto;
        }
        
        /* Mobile Menu */
        #header > .navbar > .navbar-content > .mobileMenu  {
            display: none;
        }
        #header > .navbar > .navbar-content > .mobileMenu > .icon{
            font-size: 20px;
        }


#header > .page-info{
    width: 100%;
}

    #header > .page-info > img{
        opacity: 0.8;
    }

    #header > .page-info > .header {
        margin-left: auto!important;
        margin-right: auto!important;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #2C83C5;
        font-size: 18px;
        margin-bottom: 25px;
        font-weight: 700;
        text-align: center;

    }

        #header > .page-info >  .header > a.active,
        #header > .page-info >  .header > a.active:hover{
            color: rgba(0,0,0,.3);
            text-decoration: none !important;
            border-bottom: none;
            cursor: default;
        }
        
        #header > .page-info >  .header > a:hover{
            color: #2C83C5;
            border-bottom: 2px solid #2C83C5;
        }

        #header > .page-info > .header > a {
            margin-right: 1rem;
        }

@media only screen and (max-width: 979px) {
    .leftMenu,
    .rightMenu{
        display: none;
    }
    
    .navbar > .logo{
        text-align: left !important;
        left: 50px;
    }
    
    .navbar > .navbar-content > .mobileMenu {
        display: block !important;
        position: absolute;
        right: 30px;
        top: 34px;
    }
}
            

/*--------------
    Body
---------------*/
#body {
    margin: 0 auto;
}

#body > .container{
    
}
#body > .container > .part{
    font-size:30px !important;
    margin: 20px 0 10px;
    color: rgb(102, 179, 19);
    font-weight: 600;
}

#body > .container > .part:first-child{
    margin-top: 0;
}

/* Block */
#body > .container > .block,
#body > .container > .block > .grid{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#body > .container > .block{
    margin-bottom: 60px;
    padding-top: 30px;
}

#body > .container > .block > .title{
    font-size: 20px !important;
    margin-bottom: 30px;
    font-weight: 600;
    width:100%;
}

#body > .container > .block > .title .button{
    width: 29px;
    height: 29px;
    padding: 6px 5px;
    margin-top: 0px;
    vertical-align: middle
}

#body > .container > .block > p{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#body > .container > .block > .grid:not(.after) .column:not(.row):not(.grid):after {
    background-color: #ffc266;
    box-shadow: 0px 0px 0px 1px rgba(86, 61, 124, 0.2) inset;
    content: "";
    display: block;
    min-height: 50px;
}


/* Sub Block */
#body > .container > .block > .sub-block{
    font-size:16px !important;
    margin: 20px 0;
    font-weight: 500;
}


#body .column[data-section]{
    height: 600px;
}



#body .column[data-section="intro"]{
    background-color:#bbe9dc; color:#000;

}


/*--------------
    Footer
---------------*/

#footer{
    display: block;
    margin-top: 5em;
    height: 70px;  
}



















#init-code .col:first-child {
    border-left: 1px solid rgba(0,0,0,.1);
}
#init-code .col {
    background: #FFF;
    width: 33.333333%;
    padding: 0 32px;
    color: #000;
    border-right: 1px solid rgba(0,0,0,.1);
    height: 182px;
}
.fadeleft.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
.fadeleft {
    opacity: 0;
    -webkit-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    transform: translateX(-60px);
}
.n, .pin {
    -webkit-transition: all .5s cubic-bezier(.175,.885,.32,1.275) 0s;
    -moz-transition: all .5s cubic-bezier(.175,.885,.32,1.275) 0s;
    -ms-transition: all .5s cubic-bezier(.175,.885,.32,1.275) 0s;
    transition: all .5s cubic-bezier(.175,.885,.32,1.275) 0s;
}
.col, header h1 {
    float: left;
}



/*--------------
    Loading
---------------*/

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}

#hexCont {
	position: fixed;
	width: 0;
	height: 0;
	top: 40%;
	left: 50%;
}

.triangle {		
	-webkit-animation-name: animate;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-name: animate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	border-color: #000 transparent transparent transparent;
	border-style: solid;
	border-width: 17.3px 10px 0 10px;
	height: 0;
	left: 170px;
	opacity: 0;
	position: absolute;
	top: -52px;
	width: 0;
	z-index: 3;
}
/*specifies triangles rotated 180*/
.flipped {transform: rotate(180deg);}

.triangle1 {
	-webkit-animation-delay: .07s;
	animation-delay: .07s;
	left: -10px;
	top: -17px;
}

.triangle2 {	
	-webkit-animation-delay: .2266s;
	animation-delay: .2266s;
	left: 0px;
	top: -17px;
}

.triangle3 {
	-webkit-animation-delay: .4034s;
	animation-delay: .4034s;
	left: 0px;
	top: 0px;
}
.triangle4 {
	-webkit-animation-delay: .57s;
	animation-delay: .57s;
	left: -10px;
	top: 0px;
}
.triangle5 {
	-webkit-animation-delay: .7468s;
	animation-delay: .7468s;
	left: -20px;
	top: -0px;
}

.triangle6 {
	-webkit-animation-delay: .9035s;
	animation-delay: .9035s;
	left: -20px;
	top: -17px;
}

@-webkit-keyframes animate {
		from {opacity: 1;}
		to {opacity: 0;}
}

@keyframes animate {
		from {opacity: 1;}
		to {opacity: 0;}
}


